# mysqlclient           # MySQL client, currently not used
# psycopg               # PostgreSQL client, currently not used
boto3
django
django-jazzmin          # Admin site theme
django-ninja            # Django Ninja REST framework
django-ninja-jwt        # JWT authentication for Django Ninja
django-ninja-extra      # Extra features for Django Ninja (controllers, DI)
jinja2                  # Templating
pillow
pydantic>=2.0           # Data validation (required by Django Ninja)
python-dotenv
segno                   # QR Code generation
typer                   # CLI app
whitenoise              # Static file serving
