[tool.black]
line-length = 100
target-version = ['py313']
skip-string-normalization = true
extend-exclude='''
(
  \.venv.*
  | \venv.*
)
'''

[tool.isort]
profile = 'black'
sections = 'FUTURE,STDLIB,THIRDPARTY,FIRSTPARTY,LOCALFOLDER'
skip_glob = ['**/.venv*', '**/venv*', '/build']

[tool.pytest.ini_options]
DJANGO_SETTINGS_MODULE = 'config.settings'
python_files = ['tests.py', 'test_*.py', '*_tests.py']
python_classes = ['Test*']
python_functions = ['test_*']
testpaths = ['tests']
addopts = [
  '--strict-markers',
  '--reuse-db',
  '--no-migrations',
  '-v',
]
markers = [
  'unit: Unit tests',
  'integration: Integration tests',
  'slow: Slow running tests',
]

[tool.coverage.run]
branch = true
source = ['src']

[tool.coverage.report]
show_missing = true
skip_empty = true

[tool.coverage.html]
directory = 'htmlcov'

[tool.mypy]
python_version = '3.13'
warn_return_any = true
warn_unused_configs = true
disallow_untyped_defs = false
check_untyped_defs = true
plugins = ['mypy_django_plugin.main']
exclude = [
    'migrations',
    '.venv.*',
    'venv.*',
]

[tool.django-stubs]
django_settings_module = 'config.settings'

[[tool.mypy.overrides]]
module = [
    'ninja_jwt.*',
]
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = 'src.serializers'
disable_error_code = ['assignment']

[tool.flake8]
max-line-length = 100
# Errors being ignored:
# E203 is not PEP8 compliant and clashes with black
# E701,E704 multiple statements on one line (colon)
#   Conflict with `black`, where empty class definitions (with Ellipsis) are formatted to be in
#   one line in `black`, ex `class FileUpdateError(Exception): ...`
# W503 line break before binary operator clashes with black
# F811 redefinition of unused import happens when importing pytest fixtures in test modules
extend-ignore = ['E203', 'E266', 'E501', 'W503', 'F811']
exclude = [
    '.git', '.github', '__pycache__', '.venv*', 'venv*', 'migrations', 'build', 'dist', 'docs'
]

[tool.typer-invoke]
modules = [
    'admin.lint',
    'admin.pip',
    'admin.server',
    'admin.test',
]
