# Requirements for local development
# Includes all the requirements for all the apps plus testing/linting
-r requirements-base.txt
-r requirements-app-qr_code.txt
-r requirements-app-users.txt

black
boto3-stubs[s3,ses]
django-stubs
factory-boy
faker
flake8
flake8-pyproject
isort
mypy
pip-tools
pytest
pytest-cov
pytest-django
playwright
pytest-playwright
typer
typer-invoke
