-r requirements.txt

black
boto3-stubs[s3,ses]
django-stubs
factory-boy
faker
flake8
flake8-pyproject
isort
mypy
pip-tools
pytest
pytest-asyncio
pytest-cov
pytest-django
requests         # For admin scripts.   TODO: change for `httpx`
types-requests   # For admin scripts.   TODO: change for `httpx`
typer-invoke
