annotated-types==0.7.0
    # via pydantic
asgiref==3.11.0
    # via
    #   django
    #   django-cors-headers
    #   django-ninja-extra
boto3==1.42.16
    # via
    #   -r requirements-base.in
    #   django-ses
botocore==1.42.16
    # via
    #   boto3
    #   s3transfer
cffi==2.0.0
    # via cryptography
contextlib2==21.6.0
    # via django-ninja-extra
cryptography==46.0.3
    # via pyjwt
django==6.0
    # via
    #   -r requirements-base.in
    #   django-cors-headers
    #   django-jazzmin
    #   django-ninja
    #   django-ninja-extra
    #   django-ninja-jwt
    #   django-ses
django-cors-headers==4.9.0
    # via -r requirements-base.in
django-jazzmin==3.0.1
    # via -r requirements-base.in
django-ninja==1.5.1
    # via
    #   -r requirements-base.in
    #   django-ninja-extra
django-ninja-extra==0.30.8
    # via
    #   -r requirements-base.in
    #   django-ninja-jwt
django-ninja-jwt==5.4.2
    # via -r requirements-base.in
django-ses==4.5.0
    # via -r requirements-base.in
injector==0.23.0
    # via django-ninja-extra
jinja2==3.1.6
    # via -r requirements-base.in
jmespath==1.0.1
    # via
    #   boto3
    #   botocore
markupsafe==3.0.3
    # via jinja2
pycparser==2.23
    # via cffi
pydantic==2.12.5
    # via
    #   django-ninja
    #   pydantic-settings
pydantic-core==2.41.5
    # via pydantic
pydantic-settings==2.12.0
    # via django-ninja-jwt
pyjwt[crypto]==2.10.1
    # via
    #   -r requirements-base.in
    #   django-ninja-jwt
python-dateutil==2.9.0.post0
    # via botocore
python-dotenv==1.2.1
    # via
    #   -r requirements-base.in
    #   pydantic-settings
s3transfer==0.16.0
    # via boto3
six==1.17.0
    # via python-dateutil
sqlparse==0.5.5
    # via django
typing-extensions==4.15.0
    # via
    #   pydantic
    #   pydantic-core
    #   typing-inspection
typing-inspection==0.4.2
    # via
    #   pydantic
    #   pydantic-settings
urllib3==2.6.2
    # via botocore
