boto3>=1.34.0,<2.0
django-cors-headers>=4.3.1,<5.0     # CORS
django-jazzmin>=3.0.0,<4.0          # Django admin UI
django-ninja>=1.5.1,<2.0            # REST
django-ninja-extra>=0.30.0,<1.0     # Ninja utilities
django-ninja-jwt>=5.4.0,<6.0        # JWT auth
django-ses>=4.0.0,<5.0              # AWS SES for Django email
django>=6.0,<6.1                    # Django and Core
jinja2>=3.1.0,<4.0                  # Templating
# psycopg2-binary>=2.9.9,<3.0         # Database
pyjwt>=2.8.0,<3.0                   # Authentication
python-dotenv>=1.0.0,<2.0           # Environment
