.login-box-msg {
    font-size: 2.5rem !important;
    font-weight: 700 !important;
    color: #74837a !important;
}

.brand-image {
    border-radius: 0 !important;
}

.img-circle {
    border-radius: 0 !important;
}
