{# Subject #}
Reset your QR Code account password

{# Text body #}
Hi {{ user.name or user.email }},

You requested a password reset for your QR Code account.

Click the link below to set a new password (valid for {{ ttl_hours }} hours):
{{ reset_url }}

If you did not request this, you can ignore this email.

{# HTML body #}
<p>Hi {{ user.name or user.email }},</p>
<p>You requested a password reset for your QR Code account.</p>
<p>Click the link below to set a new password (valid for {{ ttl_hours }} hours):</p>
<p><a href="{{ reset_url }}">{{ reset_url }}</a></p>
<p>If you did not request this, you can ignore this email.</p>
