{% extends "admin/index.html" %}

{% block content %}
{{ block.super }}

<div class="module">
    <table>
        <caption>
            <a href="{% url 'custom_admin:admin_tools' %}" class="section">Admin Tools</a>
        </caption>
        <tbody>
            <tr>
                <td>
                    <a href="{% url 'custom_admin:admin_tools' %}">
                        Access utilities such as sending test emails or viewing masked environment variables.
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
